<%- include("../includes/header") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title">Change new password</h1>
      <% if(errMsg){ %>
        <p class="msg-box"><%= errMsg %></p>
      <% }%>
      <form action="/change-new-password" method="post">
        <input hidden value="<%= csrfToken %>" name="_csrf" />
        <input hidden value="<%= resetToken %>" name="resetToken" />
        <input hidden value="<%= user_id %>" name="user_id" />
        <div>
          <label for="password">Enter new password</label>
          <input type="password" id="password" name="password"  />
        </div>
        <div>
          <label for="confirm_password">Enter new comfirm password</label>
          <input type="password" id="confirm_password" name="confirm_password"  />
        </div>
        <button>Change password</button>
      </form>
    </section>
  </body>
  <%- include("../includes/footer") %>