<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <body> -->
      <%- include("./includes/header") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title form-title">Add a new post here!</h1>
      <% if(errorMsg){ %>
        <p class="msg-box"><%= errorMsg %></p>
      <% }%>
      <form action="/admin" method="post" enctype="multipart/form-data">
        <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="title">Enter title</label>
          <input type="text" id="title" name="title" required value="<%= oldFormData.title %>" />
        </div>
        <div>
          <label for="photo">Enter photo</label>
          <input type="file" id="photo" name="photo" required />
        </div>
        <div>
          <label for="description">Enter description</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
          ><%= oldFormData.description %></textarea>
        </div>
        <button class="btn-logout">Add Post</button>
      </form>
    </section>
  </body>
  <%- include("./includes/footer") %>
<!-- </html> -->